<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script
      src="https://code.jquery.com/jquery-3.6.0.js"
      integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
      crossorigin="anonymous"></script>
      <script type="text/javascript" src="static/main.js"></script>
    <title>Home</title>
    <style>
        body{
              background: #212121;
              color: #fff;
         }
         .screen_home_css{
              margin: 0 auto;
              margin-top: 200px;
              width: 70%;
              border: 5px solid #FFFF00;
              padding: 10px;
         }
         .screen_add_css{
            width: 500px;
            clear: both;
         }

        .screen_add_css  input{
          width: 100%;
          clear: both;
        }
        .screen_update_css {
            width: 500px;
            clear: both;
         }

        .screen_update_css input{
          width: 100%;
          clear: both;
        }
        .screen_delete_css {
              margin: 0 auto;
              width: 32%;
              margin-top: 50px;
        }
        table, th, td{
        border: 1px solid #fff;
        padding: 5px;
        }
        table{
            border-spacing:15px
        }
    </style>
  </head>


  <body onload="javascript: My_function();">

  <script>
  $(document).ready(function(){
        var e0 = $(document).find('.screen_data_home');
		var s1 = $(document).find('.screen_home').html();
 		e0.html(s1);


        location.hash = '/'+'home';
        $(document).on('click', '.button_menu', function(event)
        {
            event.preventDefault();

            var screen_name = $(this).attr('screen_name');

            location.hash = '/'+screen_name;


            if(screen_name == "home")
 			{
 			    var e0 = $(document).find('.screen_data_home');
 				var s1 = $(document).find('.screen_home').html();
 				e0.html(s1);

 			}
            else if(screen_name == "add")
 			{
 			    var e0 = $(document).find('.screen_data_home');
 				var s1 = $(document).find('.screen_add').html();
 				e0.html(s1);
                event.preventDefault();
 			}
 			else if(screen_name == "update")
 			{
 			    var e0 = $(document).find('.screen_data_home');
 				var s1 = $(document).find('.screen_update').html();
 				e0.html(s1);

 			}
 			else if(screen_name == "view")
 			{

 			    var e0 = $(document).find('.screen_data_home');
 				var s1 = $(document).find('.screen_view').html();
 				e0.html(s1);
                $(".screen_view").load(location.href + " .screen_view");


 			}
 			else if(screen_name == "delete")
 			{
 			    var e0 = $(document).find('.screen_data_home');
 				var s1 = $(document).find('.screen_delete').html();
 				e0.html(s1);
 			}
        })

  })

   $(document).on('submit','#add_details_form',function(e)
   {
       x = val_add();
       if (x == true){
              e.preventDefault();

               var name = $('#name').val();
               var email = $('#email').val();
               var gender = $("input[type=radio][name=gender]:checked").val();
               var doj = $('#doj').val();
               var dob = $('#dob').val();
               var add = $('#add').val();
               var city = $('#city').val();
               var pcode = $('#pcode').val();
               var phone = $('#phone').val();

              $.ajax({
                type:'POST',
                url: '{{ url_for('input_form') }}',
                data:{
                  name:name,email:email,doj:doj,dob:dob,add:add,city:city,pcode:pcode,gender:gender,phone:phone
                },
                success:function(response)
                {
                  alert(response);
                }

              })


       }

    });

     $(document).on('submit','#delete_details_form',function(e)
   {
      x = val_delete();
      if (x == true){
          e.preventDefault();

           var id = $('#deleteid').val();

          $.ajax({
            type:'POST',
            url: '{{ url_for('delete_records') }}',
            data:{
              id:id
            },
            success:function(response)
            {
              alert(response);
            },
            error: function() {
                alert('ID Value Cannot exist');
            }
          })

      }


    });

   $(document).on('submit','#update_details_form',function(e)
   {
      x = val_update();
      if (x == true)
      {
           e.preventDefault();
           var id = $('#uniqueid').val();
           var field=$('#f1').val();
           var gender = $("input[type=radio][name=gender]:checked").val();
           var name = $('#name_field2').val();
           var email = $('#email_field2').val();
           var doj = $('#date_of_joining_field2').val();
           var dob = $('#DOB_field2').val();
           var add = $('#street_address_field2').val();
           var city = $('#city_field2').val();
           var pcode = $('#postal_code_field2').val();
           var phone = $('#phone_field2').val();

          $.ajax({
            type:'POST',
            url: '{{ url_for('update_records') }}',
            data:{
              id:id, field:field, name:name, email:email, doj:doj, dob:dob, add:add, city:city, pcode:pcode, gender:gender, phone:phone
            },
            success:function(response)
            {
              alert(response);
            }
          })
      }

    });

  </script>


  <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand button_menu" screen_name="home" href="#">HOME</a>
            <a class="navbar-brand button_menu" screen_name="add" href="#">ADD</a>
            <a class="navbar-brand button_menu" screen_name="update" href="#">UPDATE</a>
            <a class="navbar-brand button_menu" screen_name="view" href="#">VIEW</a>
            <a class="navbar-brand button_menu" screen_name="delete" href="#">DELETE</a>
        </div>
    </nav>

    <!--  Page Content-->
  <div class="screen_data_home"></div>


  <div style="display:none;" class="screens">
      <!--HOME START-->
      <div class="screen_home">
          <div class="screen_home_css">
              <h1>WELCOME TO USER DATABASE MANAGEMENT</h1>
          </div>
      </div>
      <!--HOME END-->

      <!--ADD USER DETAILS START-->
      <div  class="screen_add">
          <div style="width:32%; margin:0 auto; padding:20px;" class="screen_add_css">
                <form  method="post" id="add_details_form" onsubmit="return validate_user()">
                        {{in_form.hidden_tag()}}

                          {{ in_form.name.label(class = 'form-label') }}
                          {{ in_form.name(placeholder="Enter Your Name", id='name') }}
                          <p id="n1" style="color:red;"></p>

                          {{ in_form.email.label(class = 'form-label') }}
                          {{ in_form.email(placeholder="Enter Your Mail", id='email') }}
                          <p id="e1" style="color:red;"></p>

                          {{ in_form.date_of_joining.label(class = 'form-label') }}
                          {{ in_form.date_of_joining( class = 'datepicker' , id ='doj') }}
                          <br>
                          {{ in_form.DOB.label(class = 'form-label') }}
                          {{ in_form.DOB( class = 'datepicker', id='dob' ) }}
                          <br>

                          {{ in_form.phone.label(class = 'form-label') }}
                          {{ in_form.phone(placeholder="Enter Your Number", id='phone') }}
                          <p id="p1" style="color:red;"></p>
                          <br>
                        <div style="display:inline-block;">
                            <label>
                                Male<input type="radio"  name="gender" value="male">
                            </label>
                        </div>
                        <div style="display:inline-block;">
                            <label>
                                Female<input type="radio"   name="gender" value="female" required>
                            </label>
                        </div>


                        <br><br>
                          {{ in_form.street_address.label(class = 'form-label') }}
                          {{ in_form.street_address(placeholder="Street/ Village/ Taluk", id='add') }}
                          <p id="add1" style="color:red;"></p>


                          {{ in_form.city.label(class = 'form-label') }}
                          {{ in_form.city(placeholder="District", id = 'city') }}
                          <p id="city1" style="color:red;"></p>


                          {{ in_form.postal_code.label(class = 'form-label') }}
                          {{ in_form.postal_code(placeholder="Enter Pin code",id='pcode') }}
                          <p id="pcode1" style="color:red;"></p>
                          <br>
                          {{ in_form.submit(id='add_button') }}
                          <br>
                </form>
      </div>

          </div>
      <!--ADD USER DETAILS END-->


      <!--UPDATE USER DETAILS START-->
      <div class="screen_update">
           <div style="width:32%; margin:0 auto; padding:20px;" class="screen_update_css">
               <form  method="post" id="update_details_form" onsubmit="return validate_updateid()">
                {{ form.id.label(class = 'form-label') }}
                {{ form.id(id="uniqueid",placeholder='Enter ID') }}
                <p id="i1" style="color:red;"></p>

                {{ form.field.label(class = 'form-label') }}
                {{ form.field(id='f1', onchange="My_function()") }}
                <p id="o1" style="color:red;"></p>

                {{ form.name.label(class='form-label', id='name_field1') }}
                {{ form.name(id='name_field2') }}

                {{ form.email.label(class='form-label', id='email_field1') }}
                {{ form.email(id='email_field2') }}

                {{ form.date_of_joining.label(class='form-label', id='date_of_joining_field1') }}
                {{ form.date_of_joining(id='date_of_joining_field2') }}

                {{ form.DOB.label(class='form-label', id='DOB_field1') }}
                {{ form.DOB(id='DOB_field2') }}

                {{ form.phone.label(class='form-label', id='phone_field1') }}
                {{ form.phone(id='phone_field2') }}


                   <div style="display:inline-block;" id='gender_field1'>
                            <label class="radio-inline">
                                Male<input type="radio"  name="gender" value="male">
                            </label>
                   </div>
                    <div style="display:inline-block;" id='gender_field2'>
                            <label class="radio-inline">
                                Female<input type="radio"   name="gender" value="female">
                            </label>
                    </div>


                {{ form.street_address.label(class='form-label', id='street_address_field1') }}
                {{ form.street_address(id='street_address_field2') }}

                {{ form.city.label(class='form-label', id='city_field1') }}
                {{ form.city(id='city_field2') }}

                {{ form.postal_code.label(class='form-label', id='postal_code_field1') }}
                {{ form.postal_code(id='postal_code_field2') }}

                <p id="d1" style="color:red;"></p>
                 {{ form.submit() }}
                </form>
           </div>
      </div>
      <!--UPDATE USER DETAILS END-->

       <!--VIEW USER DETAILS START-->
      <div  class="screen_view" >
          <div style="margin-top: 10px" class="screen_view_css">
              <table>
                  <tr>
                        <th>ID</th>
                        <th>NAME</th>
                        <th>EMAIL</th>
                        <th>JOINING DATE</th>
                        <th>DATE OF BIRTH</th>
                        <th>PHONE</th>
                        <th>GENDER</th>
                        <th>ADDRESS</th>
                        <th>CITY</th>
                        <th>PIN CODE</th>
                  </tr>

                  <tr>
                      {% for i in our_users %}
                      <td>{{ i.id }}</td>
                      <td>{{ i.name}}</td>
                      <td>{{ i.email }}</td>
                      <td>{{ i.date_of_joining }}</td>
                      <td>{{ i.DOB }}</td>
                      <td>{{ i.phone }}</td>
                      <td>{{ i.gender }}</td>
                      <td>{{ i.street_address }}</td>
                      <td>{{ i.city }}</td>
                      <td>{{ i.postal_code }}</td>
                  </tr>
                        {% endfor %}


            </table>
          </div>
      </div>
      <!--VIEW USER DETAILS END-->

      <!--DELETE USER DETAILS-->
      <div class="center screen_delete">
            <div class="screen_delete_css">
                <form  id="delete_details_form" method="post" onsubmit="return validate_deleteid()">
                      {{ form.id.label(class = 'form-label') }}
                      {{ form.id(id='deleteid') }}
                      <p style="color:red;" id="del1"></p>
                  <br>
                      {{ form.submit(id = 'sub') }}
                </form>
            </div>
      </div>
      <!--DELETE USER DETAILS-->


  </div>
  </body>
</html>